%% -*-erlang-*-
%% vim:ft=erlang:

{deps, [
    {yamerl, ".*",
      {git, "https://github.com/yakaz/yamerl.git"}},
    {yaws, ".*",
      {git, "https://github.com/klacke/yaws.git"}}
  ]}.

{erl_opts, [
    {i, "src"}
  ]}.

{pre_hooks, [
    {eunit, "./testsuite/prepare-testsuite-for-rebar"}
  ]}.

{post_hooks, [
    {clean, "rm -rf test"}
  ]}.
